# Use this notebook for your 3 choices of APIs

# Whisky Data

https://whiskyhunter.net/

Past online whisky auctions statistical data

API Info: https://whiskyhunter.net/api/

(no auth, yes hhtps)

In [13]:
import requests
import pandas as pd

url = 'https://whiskyhunter.net/api/auctions_data/'
headers = {
    'accept': 'application/json',
    'X-CSRFToken': '7no6OEaBxe6oKKj1bMqmrD3hh8IxCBH1rVSk3S8x41S0V1n27sbppky4E2XG90va'
}

# Make a GET request
response = requests.get(url, headers=headers)
print(response.status_code)
#print(response.content)

200

In [2]:
result = response.json()
#result # check

In [3]:
# convert JSON data to DataFrame
df = pd.DataFrame.from_dict(result)
df.head()

,dt,winning_bid_max,winning_bid_min,winning_bid_mean,auction_trading_volume,auction_lots_count,all_auctions_lots_count,auction_name,auction_slug
0,2024-04-01,10336.9,12.9,250.20,229429.0,917,40413,Australian Whisky Auctions,australian-whisky-auctions
1,2024-04-01,8700.8,0.0,195.49,1024542.6,5241,40413,Catawiki Whisky Auction,catawiki
2,2024-04-01,940.2,12.8,166.94,16527.4,99,40413,Celtic Whiskey Auction,celtic-whiskey-auction
3,2024-04-01,4273.5,0.9,118.73,304179.2,2562,40413,Ebay Whisky Auctions,ebay-whisky-auctions
4,2024-04-01,1651.4,13.6,226.66,56665.8,250,40413,European Whisky Auctions,european-whisky-auctions

#Data Chuck Norris Jokes

https://api.chucknorris.io/

Chuck Norris Jokes (no auth, yes hhtps)

returns one joke at a time, but you can also check their categories and retrieve a specific joke in given category

In [4]:
import json

url = 'https://api.chucknorris.io/jokes/random'
response = requests.get(url)
response.content
# turn into dict from bytestring
decoded_string = response.content.decode('utf-8')
my_dict = json.loads(decoded_string)
joke = my_dict.get('value')
joke

'When Chuck Norris switches on his computer, it skips the bootup process and goes straight to the desktop.'

In [5]:
list_jokes = []

for i in range(10):
    url = 'https://api.chucknorris.io/jokes/random'
    response = requests.get(url)
    decoded_string = response.content.decode('utf-8')
    jokes_dict = json.loads(decoded_string)
    joke = jokes_dict.get('value')
    list_jokes.append(joke)

In [6]:
jokes = pd.DataFrame(list_jokes)
jokes.columns = ['Joke']
jokes

                                                Joke
0  The color brown exists because Chuck Norris sc...
1  Chuck Norris is the reason NWA ran straight ou...
2  Fort Knox wanted to store gold in Chuck Norris...
3  The Illuminati still exist today only because ...
4  This is a web site for NEW AND ONLY NEW Chuck ...
5  When Chuck Norris throws a game of 'Washers' h...
6  Chuck Norris once stabbed a man to death with ...
7  Chuck Norris is so much if a man that he sees ...
8  Chuck Norris once performed a vasectomy on a g...
9  Want to end illegal immigration from all corne...

# Data UPC-Database

https://upcdatabase.org/api-product-get

Barcodes (authkey, yes hhtps)

In [10]:
import requests
import pandas as pd
import getpass
apikey = getpass.getpass()
#B379B90E996827542B5CFF69D2AF9FB7

url = 'https://api.upcdatabase.org/account'
headers = {
    'Authorization': 'Bearer ' + apikey,
}
response = requests.get(url, headers=headers)
print(response.status_code)
print(response.content)

 ········

200
b'{\n    "success": true,\n    "email": "sanseeta.rout@gmail.com",\n    "registered": 1715079658,\n    "active": 1715079658,\n    "score": 0,\n    "banned": false,\n    "apikey_count": "1",\n    "products": {\n        "added": "100",\n        "modified": "25"\n    },\n    "api_subscription": {\n        "active": false\n    },\n    "api_limits": {\n        "lookups": null,\n        "searches": null,\n        "currency": null\n    },\n    "api_remain": {\n        "lookups": "100",\n        "search": "25",\n        "currency": "25"\n    },\n    "api_requests": "1",\n    "timestamp": 1715079690\n}'

In [11]:
results = response.json()
type(results)
results

{'success': True,
 'email': 'sanseeta.rout@gmail.com',
 'registered': 1715079658,
 'active': 1715079658,
 'score': 0,
 'banned': False,
 'apikey_count': '1',
 'products': {'added': '100', 'modified': '25'},
 'api_subscription': {'active': False},
 'api_limits': {'lookups': None, 'searches': None, 'currency': None},
 'api_remain': {'lookups': '100', 'search': '25', 'currency': '25'},
 'api_requests': '1',
 'timestamp': 1715079690}

In [12]:
data = pd.DataFrame.from_dict(results, orient="index").T
data = data[['email', 'banned', 'api_requests']]
data

                     email banned api_requests
0  sanseeta.rout@gmail.com  False            1